@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  button {
    cursor: pointer;
  }
  .page {
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(15,15,15,1) 59%, rgba(228,214,214,0.7477477477477478) 100%);
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .footer {
      text-align: center;
  }
  .loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-arrow-top {
    cursor: pointer;
  }
  .button-arrow{
    width: 100%;
    display: flex;
    margin-bottom: 24px;
  }
  .button-scroll{
    justify-content: center;
  }